*,*:before,*:after {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

@font-face{
    font-family:Batch;
    src:url('../fonts/batch-icons-webfont.eot');
    src:url('../fonts/batch-icons-webfont.eot?#iefix') format('embedded-opentype'),
      url('../fonts/batch-icons-webfont.woff') format('woff'),
      url('../fonts/batch-icons-webfont.ttf') format('truetype'),
      url('../fonts/batch-icons-webfont.svg#batchregular') format('svg');
    font-weight:normal;
    font-style:normal;
}

.batch {
	font-family: 'Batch';
	text-decoration: none;
	outline: none;
}
.batch:after {
	content:attr(data-icon);
	margin-left: 10px;
	color: rgb(107, 143, 26);
	-webkit-transition: text-shadow 0.5s;
	-moz-transition: text-shadow 0.5s;
	-ms-transition: text-shadow 0.5s;
	-o-transition: text-shadow 0.5s;
	transition: text-shadow 0.5s;
}
.batch:hover:after {
	text-shadow: -1px 0px 1px rgba(0,0,0,0.2);
}

.main-wrapper {
	position: relative;
	padding: 10px;
}
.cur-location {
	color: #437572;
}
.cur-location > .title:before {
	font-family: 'Batch';
	content: '\f07c';
	display: inline-block;
	margin-right: 5px;
}
.form-wrapper {
	padding: 10px;
	width: 70%;
	margin: 0 auto;
}
.form-ul > li {
	padding: 6px 0px;
}
.row-ul > li{
	display: inline-block;
	padding: 0 30px;
	height: 28px;
	line-height: 26px;
}

.li-left {
	text-align: right;
	width: 25%;
}

.submit-wrapper {
	margin: 20px 0 0;
}
#submit-button {
	margin-left: 30%;
	display: block;
}

.dropdown .selected{
	padding: 5px;
}

.dropdown li {
	padding: 7px 12px;
}


input[type='text'] {
	height: 28px;
}

.button {
	border-radius: 5px;
	border: medium none;
	cursor: pointer;
	-webkit-transition: box-shadow 0.5s;
	-moz-transition: box-shadow 0.5s;
	-ms-transition: box-shadow 0.5s;
	-o-transition: box-shadow 0.5s;
	transition: box-shadow 0.5s;
}

.button:hover {
	box-shadow: 0 0 1px 1px rgba(0,0,0,0.3);
}

.button.submit {
	height: 32px;
	width: 60px;
	font-size: 16px;
	background-color: rgb(3, 147, 211);
}

/*demo2*/
.form-title {
	display: block;
	border: 0 solid rgb(53, 55, 57);
	border-bottom-width: 1px;
	padding: 5px;
}

.form-ul.feiyong > li{
	font-size: 14px;
	padding: 2px 0;
}

.xuzhi-wrapper {
	margin: 15px 0;
}
.jiaoyixuzhi {
	text-decoration: none;
}


.modal-open {
  overflow: hidden;
}
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  overflow: auto;
  overflow-y: auto;
  outline: 0;
}
.modal.fade .modal-dialog {
  -webkit-transition: -webkit-transform .3s ease-out;
     -moz-transition:    -moz-transform .3s ease-out;
       -o-transition:      -o-transform .3s ease-out;
          transition:         transform .3s ease-out;
 -webkit-transform: translate(0, -25%);
     -ms-transform: translate(0, -25%);
         transform: translate(0, -25%);
}
.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
}
.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;
}
.modal-dialog.medium {
	width: 80%;
	margin: 10px auto;
}
.modal-dialog.small {
	width: 40%;
	margin: 10px auto;
}
.modal-content {
  position: relative;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 6px;
  outline: none;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
          box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
}
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000;
}
.modal-backdrop.fade {
  filter: alpha(opacity=0);
  opacity: 0;
}
.modal-backdrop.in {
  filter: alpha(opacity=50);
  opacity: .5;
}
.modal-header {
  min-height: 16.428571429px;
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
}
.modal-header .close {
  margin-top: -2px;
}
.modal-title {
  margin: 0;
  line-height: 1.428571429;
}
.modal-body {
  position: relative;
  padding: 20px;
}
.modal-footer {
  padding: 19px 20px 20px;
  margin-top: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
}
.modal-footer .btn + .btn {
  margin-bottom: 0;
  margin-left: 5px;
}
.modal-footer .btn-group .btn + .btn {
  margin-left: -1px;
}
.modal-footer .btn-block + .btn-block {
  margin-left: 0;
}

.close {
  float: right;
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: .2;
}

button {
	cursor: pointer;
}

